[Unit]
Description=Rotate ePPing output periodically
PartOf=pping.service

[Timer]
Unit=rotate-pping.service

# Rotate ePPing output every X seconds
OnActiveSec=60
OnUnitActiveSec=60
AccuracySec=1us
